@model MyBlog.Models.AccountViewModels.UsersAndRolesViewModel
@using MyBlog.Data.Seeds
@{
    ViewData["Title"] = "Admin page";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="box-title">
            <b>Users with Roles</b>
        </h3>
    </div>
    <!-- /.box-header -->
    <div class="panel-body">
        <table class="table table-hover table-bordered table-condensed" id="UsersWithRoles">
            <thead>
                <tr>
                    <td><b>Username</b></td>
                    <td><b>Role</b></td>
                </tr>
            </thead>

            @foreach (var item in Model.UserAndRole)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>
                        @foreach (var role in item.Roles)
                        {
                            @role
                        }
                    </td>
                    <td><a asp-action="Delete" asp-route-id="@item.UserId">Delete User</a></td>
                    <td>
                        @if (item.Roles[0] == Constants.PostAdmin)
                        {
                            <a asp-action="Edit" asp-route-id="@item.UserId">Demote to "User"</a>
                        }
                        else if (item.Roles[0] == Constants.User)
                        {
                            <a asp-action="Edit" asp-route-id="@item.UserId">Promote to "Post admin"</a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    @*675bef42-19dc-47b1-8ba9-94aa9ea6566f*@
    <div class="panel-footer">
        <p class="box-title"><b>Total Users till @String.Format("{0 : MMMM d, yyyy}", DateTime.Now)  : </b><span class="label label-primary">@Model.UserAndRole.Count()</span></p>
    </div>
</div>


@section scripts{
    <script>

        $(function () {
            $('#UsersWithRoles').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
        });
    </script>
}

